*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Poppins', sans-serif;
}

body {
    /* background: linear-gradient(to left, #1a0000, #8B0000); */
    background: rgb(0, 0, 0);
    color: #E5E5E5;
    overflow: hidden;
    overflow-y: scroll;
}